*
{
  box-sizing: border-box;
}

:root
{
  font-family: Arial;
  --header-height: 50px;
}

main
{
  margin-top: var(--header-height);
}

header
{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, #fff, #cbde) ;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px;
  box-sizing: border-box;
  height: var(--header-height);
  box-shadow: 0px 5px 20px #cbde;
}

header > div
{
  display: flex;
  gap: 10px;
}

header > div > form > button
{
  background-color: red;
  border-radius: 10px;
  height: 40px;
  width: 60px;
  margin-top: 5px;
  border: none;
  color: white;
}

/* form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30vw;
} */

input, textarea {
  padding: 7px 10px;
  border-radius: 0;
  border: 1px solid purple;
}

button {
  /* padding: 7px 20px; */
  background-color: purple;
  border: none;
  color: white;
  cursor: pointer;
}
a
{
  text-decoration:none;
  color: black;
  margin-top: 17px;
}
.product_card
{
  width: max-content;
}

.product_card_a
{
  width: max-content;
}

.section_products
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  text-align: center;
}
.cool_buttons
{
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
}
.red_but
{
  font-size: inherit;
  font-weight: bold;
  color: red;
  border: 1px solid red;
}
.green_but
{
  color: green;
  border: 1px solid green;
}
.blue_but
{
  color: blue;
  border: 1px solid blue;
}